{% extends 'blog/base.html' %}

{% block content %}
<div class="container mx-auto px-0 py-0 pr-0 pl-0">
  <article class="bg-white shadow-md rounded-xl p-4 sm:p-8">
    
    <!-- Post Title -->
    <h1 class="text-2xl sm:text-3xl md:text-5xl font-bold mb-4 hover:text-red-500 visited:text-purple-600 transition">
      {{ post.title }}
    </h1>

    <!-- Meta Info -->
    <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between text-sm text-gray-500 mb-6">
      <p>👤 Author: <span class="font-medium text-gray-700">{{ post.author.username }}</span></p>
      <p>📅 Created: {{ post.created_date }}</p>
    </div>

    <!-- Post Image -->
    {% if post.image %}
      <img src="{{ post.image.url }}" 
           alt="{{ post.title }}" 
           class="w-full mb-6 sm:mb-8 rounded-lg object-cover">
    {% endif %}

    <!-- Post Content -->
    <p class="mb-4 sm:mb-6 text-zinc-500 text-sm sm:text-base">
      {{ post.content|linebreaksbr }}
    </p>
    <hr class="mb-6">
    <!-- </div> -->

    <!-- Buttons (Only for Owner) -->
    {% if user.is_authenticated and user == post.author %}
      <div class="mt-8 flex flex-col sm:flex-row gap-4">
        <!-- Edit Button -->
        <a href="{% url 'edit_post' pk=post.pk %}" 
           class="text-blue-600 hover:underline">
          ✏️ Edit
        </a>
        <!-- Delete Button -->
        <a href="{% url 'delete_post' pk=post.pk %}" 
           class="text-red-600 hover:underline">
          🗑️ Delete
        </a>
      </div>
    

    {% for subsection in post.subsections.all %}
    
        <h3 class="mt-4 sm:mt-6 mb-2 sm:mb-4 text-xl sm:text-2xl md:text-3xl font-semibold">{{ subsection.sub_title }}</h3>
        <p class="mb-4 sm:mb-6 text-zinc-500 text-sm sm:text-base">{{ subsection.sub_content|linebreaksbr }}</p>
        <hr class="mb-6">
      <div class="mt-8 flex flex-col sm:flex-row gap-4"></div>

        <a href="{% url 'subsection_edit' subsection.pk %}" 
           class="text-blue-600 hover:underline">Edit</a> | 

        <a href="{% url 'subsection_delete' subsection.pk %}" 
           class="text-red-600 hover:underline">Delete</a>
      </div>
  {% endfor %}
{% endif %}


  </article>
</div>
{% endblock %}
