{% extends 'blog/base.html' %}



{% block content %}
<article class="post font-sans mb-8 text-zinc-500 text-sm w-full">
    <h1 class="mt-4 mb-6 text-5xl font-bold">{{ post.title }}</h1>

    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="w-full mb-12 rounded">
    {% endif %}

    <p class="mb-8 text-zinc-500 text-sm">{{ post.content|linebreaksbr }}</p>

    <!-- Subsections Loop -->
    {% for sub in post.subsections.all %}
        <h3 class="mt-2 mb-4 ml-2 text-3xl font-semibold">{{ sub.sub_title }}</h3>
        <p class="mb-6 text-zinc-500 text-sm">{{ sub.sub_content|linebreaksbr }}</p>
    {% empty %}
        <p class="text-zinc-400">No subsections yet.</p>
    {% endfor %}

    <p><small>Created: {{ post.created_date }}</small></p>
</article>
{% endblock %}

