            {% extends 'blog/base.html' %}

            {% block content %}
    {% for post in posts %}
    <article class="font-sans">
        <h2 class="mt-4 mb-12 ml-0 text-5xl font-bold">
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>

        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="w-full mb-14 rounded">
        {% endif %}

        <p class="mb-12 text-zinc-500 text-sm">{{ post.content|linebreaksbr }}</p>
        <hr class="mb-8">

        <!-- Subsections Loop -->
        {% for sub in post.subsections.all %}
            <h3 class="mt-2 mb-8 ml-0 text-3xl font-semibold">{{ sub.sub_title }}</h3>
            <p class="mb-6 text-zinc-500 text-sm">{{ sub.sub_content|linebreaksbr }}</p>
        {% empty %}
            <p class="text-zinc-400">No subsections yet.</p>
        {% endfor %}

        <p><small>Created: {{ post.created_date }}</small></p>
        <hr class="mb-4 mt-12">
    </article>
    {% endfor %}
{% endblock %}

        
            
