h1 a, h2 a {
    color: #C25100;
    font-family: 'Lobster';
}

body{
    padding-left: 15px;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content:space-between;
    
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

ul {
    width: 50%;
    display: flex;
}
ul > li {
    margin-right: 5px;
    margin-left: 10px;
}

.button-logout{
    background-color: #C25100;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border: none;
}

.top-menu
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}

.top-menu > li > a {
    color: #ffffff;
    font-size: 15px;
    margin-right: 20px;
    text-decoration: none;
}


.newPost {
    width: 30px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    margin: 0;

}

.newPost {
    display: flex;
}